{
    "presets": ["es2015"],
    "plugins": [
        "transform-runtime",
        "add-module-exports",
        "transform-export-extensions",
        "transform-es3-member-expression-literals",
        "transform-es3-property-literals"
    ]
}
